@charset "UTF-8";

/* Tablets */
@media screen and (max-width: 768px) {
  /* home */
  #top-container {
    padding: 100px 50px 50px 50px;
  }

  #search-form {
    padding: 30px 0 0;
  }
}

/* Mobile Devices */
@media screen and (max-width: 500px) {
  #job-list .content {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .list-group-item img {
    width: 60px;
  }

  #job-list .content-right {
    align-items: stretch;
    width: 100%;
  }

  /* job view */
  .back-link {
    margin-left: 30px;
  }

  #job-view-container p {
    font-size: 1.3rem;
    margin: 20px auto;
  }

  .job-desc {
    width: 80%;
  }

  /* add view */
  #form-box {
    padding: 25px;
  }

  #form-box h2 {
    font-size: 1rem;
    text-align: center;
  }

  #form-box button {
    width: 100%;
    margin: 20px 0;
  }
}
